@charset "utf-8";
body {
	background: #00dee9;
}

.wTop{
	z-index: 2;
	background:#00dee9;
	height: 90px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

#logo{
	position: fixed;
	top: 15px;
	left: 4%;
	
}

.menu{
	position: fixed;
	top: 38px;
}

#games{
	right: 34%;
}

#news{
	right: 17%;
}

#info{
	top: 40px;
	right: 2%;
}

.products{
	z-index: 1;
	position: absolute;
	top: 120px;
	right: 50%;
}

#bProducts{
	position: inherit;
	left: -10px;
	background: #000000;
	height: 320px;
	width: 930px;
}

#cm{
	position: relative;
	left: 0px;
	top: 10px;
	background:#000000;
}

#raft{
	position: relative;
	left: 460px;
	top: -293px;
}

#cmPlay{
	position: inherit;
	left: 15%;
	top: 330px
}

#raftPlay{
	position: inherit;
	right: 15%;
	top: 330px;
}

.news{
	z-index: 1;
	position: absolute;
	top: 650px;
	right: 50%;
}

#newsHeader{
	position: absolute;
	top: -150px;
	right: 290px;
	
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size: 70px;
}

#bNews{
	position: inherit;
	left: -460px;
	background: #000000;
	height: 320px;
	width: 930px;
}

#news1{
	position: relative;
	top: 10px;
	left: 10px;
}

#news2{
	position: relative;
	top: -10px;
	left: 40px;
}

#news3{
	position: relative;
	top: -10px;
	left: 80px;
}

.wBotem{
	position: absolute;
	top: 1000px;
	left: 50%;
}

#lMail{
	position: relative;
	bottom: 20px;
	left: 25px;
}

#lTwitter{
	position: relative;
	bottom: -27px;
	right: 25px;
}


