@charset "utf-8";
body {
	background: #00dee9;
}

.wTop{
	z-index: 2;
	background:#00dee9;
	height: 90px;
	width: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
}

#logo{
	position: fixed;
	top: 10px;
	left: 4%;
	
}

.menu{
	position: fixed;
	top: 38px;
}

#games{
	right: 34%;
}

#news{
	right: 17%;
}

#info{
	top: 40px;
	right: 2%;
}

.products{
	z-index: 1;
	position: absolute;
	top: 120px;
	left: 50%;
}

#cm{
	z-index: 1;
	position: relative;
	right: 450px;
}

#raft{
	z-index: 1;
	position: relative;
	top: -305px;
	left: 10px;
}

.wBotem{
	position: absolute;
	top: 1000px;
	left: 50%;
}

#lMail{
	position: relative;
	bottom: 20px;
	left: 25px;
}

#lTwitter{
	position: relative;
	bottom: -27px;
	right: 25px;
}


