@charset "utf-8";
body {
	background: #00dee9;
}

#logo{
	position: fixed;
	top: 10px;
	left: 4%;
}

.menu{
	position: fixed;
	top: 38px;
}

#games{
	right: 34%;
}

#news{
	right: 17%;
}

#info{
	top: 40px;
	right: 2%;
}

/*.products {
	position: relative;
	max-width: 1000px;
	height: 594px;
	background: #000000;
	top: 5px;
}*/

.wBotem{
	position: relative;
	top: 1000px;
	left: 50%;
}

#lMail{
	position: relative;
	bottom: 20px;
	left: 25px;
}

#lTwitter{
	position: relative;
	bottom: -27px;
	right: 25px;
}

@media screen and (max-width: 480px){

}


